body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sensor-data p,
.image-data {
    font-size: 1.2em;
    margin: 10px 0;
}

#cameraImage {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
